extends layout

block content
  if !user
    h2 Welcome! Please log in.
    a(href='/auth/hatena') Login with Hatena
  else
    h2 Hello,#{user.displayName}
    a(href='/logout') Logout
    button 取得
    script(src='/javascripts/test.js', id='request')
